cmake_install.cmake
CMakeCache.txt
Makefile
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
Bin/helloWorld.exe
Bin/helloWorld.ilk
Bin/helloWorld.pdb
Bin/RenderingGL.dll
Bin/RenderingGL.ilk
Bin/RenderingGL.pdb
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-0a3d4d24c53eba827c39.json
build/.cmake/api/v1/reply/cmakeFiles-v1-3876210124ac1dcad4aa.json
build/.cmake/api/v1/reply/codemodel-v2-f4b436bfe564bc8df7ec.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-Source.RenderingGL-Debug-50d9bd1cbe20782184c9.json
build/.cmake/api/v1/reply/directory-ThirdParty.glfw-3.3.8-Debug-d554759f37e6ce650319.json
build/.cmake/api/v1/reply/directory-ThirdParty.glfw-3.3.8.src-Debug-78c3a0304073418e33f6.json
build/.cmake/api/v1/reply/index-2023-12-23T02-30-22-0527.json
build/.cmake/api/v1/reply/target-glfw-Debug-6b6a2e634e5317a02c90.json
build/.cmake/api/v1/reply/target-helloWorld-Debug-e7bf32339926b899bcb9.json
build/.cmake/api/v1/reply/target-RenderingGL-Debug-16cd39d48a1fdf3251bc.json
build/.cmake/api/v1/reply/target-uninstall-Debug-7540ff3440c6950e7a55.json
build/.cmake/api/v1/reply/target-update_mappings-Debug-f470a063d57410ee40d5.json
build/.cmake/api/v1/reply/toolchains-v1-2d37b4c1523d681e7043.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.0-rc5/CMakeCCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.0-rc5/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.0-rc5/CMakeSystem.cmake
build/CMakeFiles/3.28.0-rc5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.0-rc5/CompilerIdC/CMakeCCompilerId.exe
build/CMakeFiles/3.28.0-rc5/CompilerIdC/CMakeCCompilerId.obj
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/CMakeCXXCompilerId.exe
build/CMakeFiles/3.28.0-rc5/CompilerIdCXX/CMakeCXXCompilerId.obj
build/CMakeFiles/helloWorld.dir/build.make
build/CMakeFiles/helloWorld.dir/cmake_clean.cmake
build/CMakeFiles/helloWorld.dir/compiler_depend.make
build/CMakeFiles/helloWorld.dir/compiler_depend.ts
build/CMakeFiles/helloWorld.dir/depend.make
build/CMakeFiles/helloWorld.dir/DependInfo.cmake
build/CMakeFiles/helloWorld.dir/flags.make
build/CMakeFiles/helloWorld.dir/objects1.rsp
build/CMakeFiles/helloWorld.dir/progress.make
build/CMakeFiles/ShowIncludes/foo.h
build/CMakeFiles/ShowIncludes/main.c
build/CMakeFiles/ShowIncludes/main.obj
build/Source/RenderingGL/cmake_install.cmake
build/Source/RenderingGL/Makefile
build/Source/RenderingGL/CMakeFiles/CMakeDirectoryInformation.cmake
build/Source/RenderingGL/CMakeFiles/progress.marks
build/Source/RenderingGL/CMakeFiles/RenderingGL.dir/build.make
build/Source/RenderingGL/CMakeFiles/RenderingGL.dir/cmake_clean.cmake
build/Source/RenderingGL/CMakeFiles/RenderingGL.dir/compiler_depend.make
build/Source/RenderingGL/CMakeFiles/RenderingGL.dir/compiler_depend.ts
build/Source/RenderingGL/CMakeFiles/RenderingGL.dir/depend.make
build/Source/RenderingGL/CMakeFiles/RenderingGL.dir/DependInfo.cmake
build/Source/RenderingGL/CMakeFiles/RenderingGL.dir/exports.def.objs
build/Source/RenderingGL/CMakeFiles/RenderingGL.dir/flags.make
build/Source/RenderingGL/CMakeFiles/RenderingGL.dir/objects1.rsp
build/Source/RenderingGL/CMakeFiles/RenderingGL.dir/progress.make
build/ThirdParty/glfw-3.3.8/cmake_install.cmake
build/ThirdParty/glfw-3.3.8/cmake_uninstall.cmake
build/ThirdParty/glfw-3.3.8/Makefile
build/ThirdParty/glfw-3.3.8/CMakeFiles/CMakeDirectoryInformation.cmake
build/ThirdParty/glfw-3.3.8/CMakeFiles/progress.marks
build/ThirdParty/glfw-3.3.8/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-debug.cmake
build/ThirdParty/glfw-3.3.8/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets.cmake
build/ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/build.make
build/ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/cmake_clean.cmake
build/ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/compiler_depend.make
build/ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/compiler_depend.ts
build/ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/DependInfo.cmake
build/ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/progress.make
build/ThirdParty/glfw-3.3.8/src/cmake_install.cmake
build/ThirdParty/glfw-3.3.8/src/glfw_config.h
build/ThirdParty/glfw-3.3.8/src/glfw3.pc
build/ThirdParty/glfw-3.3.8/src/glfw3Config.cmake
build/ThirdParty/glfw-3.3.8/src/glfw3ConfigVersion.cmake
build/ThirdParty/glfw-3.3.8/src/Makefile
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/progress.marks
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/build.make
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/cmake_clean_target.cmake
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/cmake_clean.cmake
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/compiler_depend.make
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/compiler_depend.ts
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/depend.make
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/DependInfo.cmake
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/flags.make
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/objects1.rsp
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/progress.make
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/build.make
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/cmake_clean.cmake
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/compiler_depend.make
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/compiler_depend.ts
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/DependInfo.cmake
build/ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/progress.make
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeRuleHashes.txt
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.28.0-rc5/CMakeCCompiler.cmake
CMakeFiles/3.28.0-rc5/CMakeCXXCompiler.cmake
CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.28.0-rc5/CMakeRCCompiler.cmake
CMakeFiles/3.28.0-rc5/CMakeSystem.cmake
CMakeFiles/3.28.0-rc5/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.28.0-rc5/CompilerIdC/CMakeCCompilerId.exe
CMakeFiles/3.28.0-rc5/CompilerIdC/CMakeCCompilerId.obj
CMakeFiles/3.28.0-rc5/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.28.0-rc5/CompilerIdCXX/CMakeCXXCompilerId.exe
CMakeFiles/3.28.0-rc5/CompilerIdCXX/CMakeCXXCompilerId.obj
CMakeFiles/helloWorld.dir/build.make
CMakeFiles/helloWorld.dir/cmake_clean.cmake
CMakeFiles/helloWorld.dir/compiler_depend.make
CMakeFiles/helloWorld.dir/compiler_depend.ts
CMakeFiles/helloWorld.dir/depend.make
CMakeFiles/helloWorld.dir/DependInfo.cmake
CMakeFiles/helloWorld.dir/embed.manifest
CMakeFiles/helloWorld.dir/flags.make
CMakeFiles/helloWorld.dir/intermediate.manifest
CMakeFiles/helloWorld.dir/manifest.rc
CMakeFiles/helloWorld.dir/manifest.res
CMakeFiles/helloWorld.dir/objects1.rsp
CMakeFiles/helloWorld.dir/progress.make
CMakeFiles/helloWorld.dir/vc140.pdb
CMakeFiles/helloWorld.dir/Source/glad.c.obj
CMakeFiles/helloWorld.dir/Source/glad.c.obj.d
CMakeFiles/helloWorld.dir/Source/main.cpp.obj
CMakeFiles/helloWorld.dir/Source/main.cpp.obj.d
CMakeFiles/ShowIncludes/foo.h
CMakeFiles/ShowIncludes/main.c
CMakeFiles/ShowIncludes/main.obj
Source/RenderingGL/cmake_install.cmake
Source/RenderingGL/Makefile
Source/RenderingGL/RenderingGL.exp
Source/RenderingGL/RenderingGL.lib
Source/RenderingGL/CMakeFiles/CMakeDirectoryInformation.cmake
Source/RenderingGL/CMakeFiles/progress.marks
Source/RenderingGL/CMakeFiles/RenderingGL.dir/build.make
Source/RenderingGL/CMakeFiles/RenderingGL.dir/cmake_clean.cmake
Source/RenderingGL/CMakeFiles/RenderingGL.dir/compiler_depend.internal
Source/RenderingGL/CMakeFiles/RenderingGL.dir/compiler_depend.make
Source/RenderingGL/CMakeFiles/RenderingGL.dir/compiler_depend.ts
Source/RenderingGL/CMakeFiles/RenderingGL.dir/depend.make
Source/RenderingGL/CMakeFiles/RenderingGL.dir/DependInfo.cmake
Source/RenderingGL/CMakeFiles/RenderingGL.dir/embed.manifest
Source/RenderingGL/CMakeFiles/RenderingGL.dir/exports.def
Source/RenderingGL/CMakeFiles/RenderingGL.dir/exports.def.objs
Source/RenderingGL/CMakeFiles/RenderingGL.dir/flags.make
Source/RenderingGL/CMakeFiles/RenderingGL.dir/intermediate.manifest
Source/RenderingGL/CMakeFiles/RenderingGL.dir/manifest.rc
Source/RenderingGL/CMakeFiles/RenderingGL.dir/manifest.res
Source/RenderingGL/CMakeFiles/RenderingGL.dir/objects1.rsp
Source/RenderingGL/CMakeFiles/RenderingGL.dir/progress.make
Source/RenderingGL/CMakeFiles/RenderingGL.dir/RenderingEngine.cpp.obj
Source/RenderingGL/CMakeFiles/RenderingGL.dir/RenderingEngine.cpp.obj.d
Source/RenderingGL/CMakeFiles/RenderingGL.dir/vc140.pdb
ThirdParty/glfw-3.3.8/cmake_install.cmake
ThirdParty/glfw-3.3.8/cmake_uninstall.cmake
ThirdParty/glfw-3.3.8/Makefile
ThirdParty/glfw-3.3.8/CMakeFiles/CMakeDirectoryInformation.cmake
ThirdParty/glfw-3.3.8/CMakeFiles/progress.marks
ThirdParty/glfw-3.3.8/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-debug.cmake
ThirdParty/glfw-3.3.8/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets.cmake
ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/build.make
ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/cmake_clean.cmake
ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/compiler_depend.make
ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/compiler_depend.ts
ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/DependInfo.cmake
ThirdParty/glfw-3.3.8/CMakeFiles/uninstall.dir/progress.make
ThirdParty/glfw-3.3.8/src/cmake_install.cmake
ThirdParty/glfw-3.3.8/src/glfw_config.h
ThirdParty/glfw-3.3.8/src/glfw3.lib
ThirdParty/glfw-3.3.8/src/glfw3.pc
ThirdParty/glfw-3.3.8/src/glfw3Config.cmake
ThirdParty/glfw-3.3.8/src/glfw3ConfigVersion.cmake
ThirdParty/glfw-3.3.8/src/Makefile
ThirdParty/glfw-3.3.8/src/CMakeFiles/CMakeDirectoryInformation.cmake
ThirdParty/glfw-3.3.8/src/CMakeFiles/progress.marks
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/build.make
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/cmake_clean_target.cmake
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/cmake_clean.cmake
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/compiler_depend.internal
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/compiler_depend.make
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/compiler_depend.ts
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/context.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/context.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/depend.make
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/DependInfo.cmake
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/egl_context.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/egl_context.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/flags.make
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/glfw.pdb
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/init.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/init.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/input.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/input.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/monitor.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/monitor.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/objects1.rsp
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/osmesa_context.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/osmesa_context.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/progress.make
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/vulkan.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/vulkan.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/wgl_context.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/wgl_context.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_init.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_init.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_joystick.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_joystick.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_monitor.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_thread.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_thread.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_time.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_time.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_window.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/win32_window.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/window.c.obj
ThirdParty/glfw-3.3.8/src/CMakeFiles/glfw.dir/window.c.obj.d
ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/build.make
ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/cmake_clean.cmake
ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/compiler_depend.make
ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/compiler_depend.ts
ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/DependInfo.cmake
ThirdParty/glfw-3.3.8/src/CMakeFiles/update_mappings.dir/progress.make
