cmake_install.cmake
CMakeCache.txt
Makefile
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
Source/RenderingGL/cmake_install.cmake
Source/RenderingGL/Makefile
Source/RenderingGL/RenderingGL.exp
Source/RenderingGL/RenderingGL.lib
Source/RenderingGL/CMakeFiles/*
Bin/*
build/*
Source/Core/CMakeFiles/*
CMakeFiles/*
Source/Core/Core.lib
Source/vc140.pdb
*.lib
**/CMakeFiles/*
Source/Core/Core.lib
