cmake_install.cmake
CMakeCache.txt
Makefile
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
Source/RenderingGL/cmake_install.cmake
Source/RenderingGL/Makefile
Source/RenderingGL/RenderingGL.exp
Source/RenderingGL/RenderingGL.lib
Source/RenderingGL/CMakeFiles/*
Bin/*
bin/*
build/*
Source/Core/CMakeFiles/*
CMakeFiles/*
Source/Core/Core.lib
Source/vc140.pdb
*.lib
**/CMakeFiles/*
Source/Core/Core.lib
*.a
*.so
ThirdParty/glfw-3.4/src/glfw3ConfigVersion.cmake
ThirdParty/glfw-3.4/src/glfw3.pc
ThirdParty/glfw-3.4/cmake_uninstall.cmake
_deps
*.pdb
*.cmake
staticAnalysis-cppcheck-build-dir/*
Source/Core/Core.lib
ThirdParty/glfw-3.4/src/glfw3ConfigVersion.cmake
staticAnalysis.cppcheck
/.vs/PracticeProject/v17
/.vs/PracticeProject/FileContentIndex
/.vs/PracticeProject/CopilotIndices
/.vs/PracticeProject/copilot-chat/7cb87986/sessions
/out/build/x64-Debug
/.vs/PracticeProject.slnx/FileContentIndex
/.vs/PracticeProject.slnx/v18
/.vs/cmake.db
/.vs/launch.vs.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/PracticeProject/v18/workspaceFileList.bin
/.vs/VSWorkspaceState.json
/.vs/PracticeProject.slnx/copilot-chat/7cb87986/sessions
